<h2>Meus campeões</h2>
<ul class="heroes">
    <li *ngFor="let campeao of campeoes">
        <a routerLink="/detail/{{campeao.id}}">
            <span class="badge">{{campeao.id}}</span>
            {{campeao.nome}}
        </a>
        <button type="button" class="delete" title="delete hero" (click)="delCampeao(campeao)">x</button>
    </li>
</ul>

<div>
    <label for="new-hero">Nome campeao: </label>
    <input id="new-hero" #nomeCampeao />

    <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="add-button" (click)="addCampeao(nomeCampeao.value)">
        Adicionar campeao
    </button>
</div>